/**
 * Main color schemes are defined below. You should reference this
 * SCSS file in other stylesheets that specify any colors...
 */

$primary-color-1: #00a9e0;
$primary-color-2: #414446;

$primary-gray-1: #b1b3b6;
$primary-gray-2: #414446;

$dark-bg-1: #666;
$light-bg-1: #f8f8f8;

$secondary-color: #ffc600;
